.carrito {
    background-color: rgb(222, 219, 219);
    display: flex;
    padding: 2.5px;
  }
  
  .carrito-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F3EE;
    width: 400px;
    height: auto;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border-radius: 8px;
  }
  body.dark .carrito-producto {
    background: #65647C;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
    color: #F9F3EE;
  }
  .carrito-producto h5 {
    color: rgb(111, 32, 32);
  }
  .carrito-producto p {
    margin-left: 20px;
  }
  
  .carrito-cantidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F3EE;
    width: 400px;
    height: auto;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border-radius: 8px;
  }
  .carrito-cantidad .svg {
    display: flex;
    align-items: end;
    width: 100%;
    flex-direction: row-reverse;
    padding-right: 3%;
  }
  body.dark .carrito-cantidad {
    background: #65647C;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  }
  .carrito-cantidad button {
    font-size: 1.2rem;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
  }
  .carrito-cantidad button:hover {
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }
  .carrito-cantidad input {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    border: none;
  }
  .carrito-cantidad h3 {
    padding-top: 10px;
  }
  .carrito-cantidad .bi {
    color: rgb(111, 32, 32);
    align-self: flex-start;
  }
  .carrito-cantidad .bi:hover {
    color: rgb(235, 176, 176);
  }
  
  .carrito-img {
    background-color: #ffffff;
    width: 200px;
    height: auto;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border-radius: 8%;
  }
  body.dark .carrito-img {
    background: #65647C;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  }
  .carrito-img .card-img-top {
    border-radius: 8px;
    background-color: #d43f3f;
  }
  